.bloc-tabs {
    /* display: flex; */
    font-weight: 500;
}

.tabs {
    padding: 6px 9px;
    text-align: center;
    cursor: pointer;
    position: relative;
    outline: none;
}

.active-tabs {
    color: #FF5A3C;
    font-size: bold;
    /* border-bottom: 1px solid transparent; */
}

.active-tabs::before {
    content: "";
    display: block;
    position: absolute;
}

button {
    border: none;
}

.content-tabs {}

.content {
    background: white;
    display: none;
}

.content h2 {
    padding: 0px 0 5px 0px;
}

.active-content {
    display: block;
}

@media screen and (max-width: 480px) {}