.contact {
    background-color: #ffffff;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;

    margin-top: 0 auto;
}

.title h1 {
    text-align: center;
    margin-bottom: 25px;
}

.img {
    width: 50%;
}

.input-fields {
    width: 50%;
    margin: 10px;
}


.input-fields .input {
    margin: 10px 0;
    background: transparent;
    border: 2px solid #FF5A3C;
    padding: 10px;
    color: #000000;
    width: 100%;
}

textarea {
    /* color: #000000;

    border: 2px solid #FF5A3C; */
    height: 200px !important;
    width: 100%;
}

::-webkit-input-placeholder {
    color: black;
}

::-moz-placeholder {
    color: #c5ecfd;
}

:-ms-input-placeholder {
    color: #c5ecfd;
}